pkgbase = lattedock
	pkgdesc = Lattecotta Dock - a Plasma 6 / Qt6 port of Latte Dock
	pkgver = 0.20.0
	pkgrel = 1
	url = https://github.com/whimbree/lattecotta-dock
	arch = x86_64
	license = GPL-2.0-or-later
	license = LGPL-2.0-or-later
	makedepends = cmake
	makedepends = ninja
	makedepends = extra-cmake-modules
	makedepends = pkgconf
	makedepends = kdoctools
	makedepends = qt6-tools
	makedepends = vulkan-headers
	makedepends = wayland-protocols
	makedepends = plasma-wayland-protocols
	makedepends = qt6-base
	makedepends = qt6-declarative
	makedepends = qt6-wayland
	makedepends = qt6-5compat
	makedepends = qt6-shadertools
	makedepends = karchive
	makedepends = kcmutils
	makedepends = kconfig
	makedepends = kcoreaddons
	makedepends = kcrash
	makedepends = kdbusaddons
	makedepends = kdeclarative
	makedepends = kglobalaccel
	makedepends = kguiaddons
	makedepends = ki18n
	makedepends = kiconthemes
	makedepends = kio
	makedepends = kirigami
	makedepends = knewstuff
	makedepends = knotifications
	makedepends = kpackage
	makedepends = ksvg
	makedepends = kwindowsystem
	makedepends = kxmlgui
	makedepends = kitemmodels
	makedepends = solid
	makedepends = sonnet
	makedepends = ktextwidgets
	makedepends = kidletime
	makedepends = libplasma
	makedepends = plasma-activities
	makedepends = plasma-activities-stats
	makedepends = plasma-workspace
	makedepends = plasma-pa
	makedepends = kpipewire
	makedepends = plasma5support
	makedepends = libksysguard
	makedepends = kwayland
	makedepends = layer-shell-qt
	makedepends = kwin
	makedepends = wayland
	makedepends = vulkan-icd-loader
	makedepends = vulkan-swrast
	makedepends = noto-fonts
	makedepends = dbus
	makedepends = qqc2-desktop-style
	depends = qt6-base
	depends = qt6-declarative
	depends = qt6-wayland
	depends = qt6-5compat
	depends = qt6-shadertools
	depends = karchive
	depends = kcmutils
	depends = kconfig
	depends = kcoreaddons
	depends = kcrash
	depends = kdbusaddons
	depends = kdeclarative
	depends = kglobalaccel
	depends = kguiaddons
	depends = ki18n
	depends = kiconthemes
	depends = kio
	depends = kirigami
	depends = knewstuff
	depends = knotifications
	depends = kpackage
	depends = ksvg
	depends = kwindowsystem
	depends = kxmlgui
	depends = kitemmodels
	depends = solid
	depends = sonnet
	depends = ktextwidgets
	depends = kidletime
	depends = libplasma
	depends = plasma-activities
	depends = plasma-activities-stats
	depends = plasma-workspace
	depends = plasma-pa
	depends = kpipewire
	depends = plasma5support
	depends = libksysguard
	depends = kwayland
	depends = layer-shell-qt
	depends = kwin
	depends = wayland
	depends = vulkan-icd-loader
	depends = vulkan-swrast
	depends = noto-fonts
	depends = dbus
	depends = qqc2-desktop-style
	options = debug
	options = strip
	source = lattedock-0.20.0.tar.gz
	sha256sums = SKIP

pkgname = lattedock
